# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

package.dev.json
storybook-static
.eslintcache

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# templates
/_templates

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
!.env.development
!.env.test
!.env.production
!jsconfig.json
.startup.sh
.backups
.structure.py
.structure.txt
.setenv.sh
*.py

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/indicators/migration/utils/countries.ts

.dockerignore
Dockerfile

# test
/data
/test
/test
src/assets/img/*.Identifier
